### Django ###
*.log
*.pot
*.pyc
__pycache__/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Default ignored files
/shelf/
/workspace.xml

#env file
env